name: Flatpak

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Update Submodules
        run: git submodule update --init --recursive

      - name: Install Flatpak tools
        run: |
          sudo apt-get update
          sudo apt-get -y install flatpak-builder
          # We add the --user flag to ensure the runner can manage its own repo
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

      - name: Prepare environment
        run: |
          SHELL_VERSION=$(git grep -hoP '^\s*VERSION\s*=\s*\K.*$' HEAD -- stremio.pro || echo "latest")
          echo "FLATPAK_PATH=Stremio-${SHELL_VERSION}.flatpak" >> $GITHUB_ENV

      - name: Build Flatpak
        run: |
          # Use --user to bypass the 'GetRevokefsFd not allowed' system error
          # Use --jobs=2 to keep memory usage low
          flatpak-builder --user --install-deps-from=flathub --force-clean --jobs=2 --repo=stremio-flatpak-repo _build com.stremio.Stremio.json

      - name: Pack Bundle
        run: |
          flatpak build-bundle --user stremio-flatpak-repo Stremio.flatpak com.stremio.Stremio beta
          mv Stremio.flatpak "${{ env.FLATPAK_PATH }}"

      - name: Upload Flatpak Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Stremio-Build
          path: ${{ env.FLATPAK_PATH }}
          retention-days: 7
