name: Flatpak

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Update Submodules
        run: git submodule update --init --recursive

      - name: Install Flatpak tools
        run: |
          sudo apt-get update
          sudo apt-get -y install flatpak-builder
          # Initialize flathub for the user
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

      - name: Prepare environment
        run: |
          SHELL_VERSION=$(git grep -hoP '^\s*VERSION\s*=\s*\K.*$' HEAD -- stremio.pro || echo "latest")
          echo "FLATPAK_FILENAME=Stremio-${SHELL_VERSION}.flatpak" >> $GITHUB_ENV

      - name: Build Flatpak
        run: |
          # --user handles the permission issue
          # --jobs=2 prevents OOM (Out of Memory)
          flatpak-builder --user --install-deps-from=flathub --force-clean --jobs=2 --repo=stremio-flatpak-repo _build com.stremio.Stremio.json

      - name: Pack Bundle
        run: |
          # No --user flag here; it's just creating a file from the repo folder
          flatpak build-bundle stremio-flatpak-repo Stremio.flatpak com.stremio.Stremio beta
          mv Stremio.flatpak "${{ env.FLATPAK_FILENAME }}"

      - name: Upload Flatpak Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Stremio-Flatpak-Build
          path: ${{ env.FLATPAK_FILENAME }}
          retention-days: 7
